body{
    background-color: darkgray;
}

.bgImg{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
    animation: fadeIn 2s ;
}

@keyframes fadeIn{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
    
}

.js-date{
    color  : snow;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    position: absolute;
    bottom :-25px;
    right : 10px;
}

.js-weather{
    position: absolute;
    color : rgb(19, 9, 123);
    font-size: 175%;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    right : 10px;
    top : -25px;
}


.MainForm{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

.js-time{
    color: snow;
    font-family: sans-serif;
    font-size: 600%;
    font-weight:bold;
}

.js-submitting{
    background-color: transparent;
    border-color: transparent;
    display : none;
}

.js-greeting{
    font-family: sans-serif;
    font-weight:bold;
    font-size: 300%;
    position: relative;
    top: -5px;
}

.js-toDoForm{
    position: relative;
}

/*input은 input박스에 대한 설정*/
input{
    color: snow;
    border-color: transparent;
    border-bottom-color: snow;
    background-color: transparent;
    font-family: sans-serif;
    font-weight:bold;
    outline: none;
    font-size: 200%;
    
}

/*input::placeholder은 input박스 안의 안내문구에 대한 설정*/
input::placeholder{
    font-family: sans-serif;
    font-weight:bold;
    color: snow;
}

.js-toDoList{
    color: snow;
    font-size: 280%;
    font-weight:bold;
}

.showing{
    display: inline;
    color: snow;
}

button{
    background-color: transparent;
    border-color: transparent;
    position: relative;
    top: -4px;
    font-size: 100%;
}

#delBtn{
    color: red;
    font-weight: 900;
    font-size: 160%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: black;
    background-color: rgba(192, 192, 192, 0.5)
}